.landing-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background-image: url('../images/splash-image.jpg');
  background-size: cover;
  background-position: center;
  background-color: #f1f1f1;
}