.landing-page {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background-image: url('../images/splash-image.jpg');
  background-size: cover;
  background-position: center;
  background-color: var(--lighter-background-color);
}

#landing-title {
  color: var(--primary-dark-accent);
  max-width: 50%;
}