.card { 
  flex: 1 0 27%;  
  /* border: 1px solid black; */
  border-radius: 4px;
  gap: 0rem;
  display: flex;
  flex-direction: column;
}

.card-image {
  width: 100%;
  aspect-ratio: 3 / 2;
  object-fit: cover;
  border-radius: 25px;
}

.card-title {
  font-size: 20px;
  margin-bottom: 8px;
  padding: 0 1rem;
}

.card-description {
  font-size: 14px;
  padding: 0 1rem;
}

@media (max-width: 768px) {
  .card {    
    flex: 1 0 92%;
  }
}

@media (min-width: 768px) and (max-width: 1368px) {
  .card {
    flex: 1 0 45%;
  }
}