.footer {
    background-color: var(--purple);        
    margin-top: auto;
}

.above-column {
    display: flex;
    justify-content: center;
    position: relative;
    /* background-color: var(--primary-color); */
    background-image: 
        linear-gradient(
            45deg, 
            var(--secondary-color),
            var(--primary-color),
            var(--secondary-color
            )    
        );
    color: var(--lighter-background-color);
    isolation: isolate;
    padding: 1rem;
}

.above-column span {
    font-weight: bold;
    font-size: 19px;
}

.footer-content {
    display: flex;
    align-items: center;
    margin-top: 0rem;   
    height: 100%;
}

.footer-column {
    flex: 1 0 33%;
    text-align: center;     
    /* color: var(--lighter-background-color); */
    /*later consider adding gradient and making the bar above solid */
    /* background-image: 
        linear-gradient(
            to right,            
            var(--secondary-color) 0%,        
            var(--purple),
            var(--secondary-color) 100%
        ); */
}

.hours {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    gap: .25rem;
}

.hours * {
    padding: 0;
    margin: auto;
}

.socials {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    /* margin-top: -1rem; */
}

.location {
    color: var(--text-color);
}

.location hr {
    width: 50%;
}

#social-links {
    display: flex;
    list-style: none;
    justify-content: center;
    margin-right: 2rem;
    gap: 1rem;
}

#business-email {
    display: inline-block;
}

#business-email p{
    display: flex;
    align-items: center;
    gap: .5rem;
}

#business-email p svg {
    margin-top: .3rem;
}

@media screen and (max-width: 600px) {
    
    .footer-content {
        flex-direction: column;
    }

    .socials {
        box-shadow: none;
    }

    .footer-column {
        width: 100%;  
        padding: .5rem 0rem;      
    }

    .footer-column:first-child {
        padding-top: 1rem;
    }
    
}