:root {
  --primary-color: #3f7661; 
  --primary-dark-accent: #0c3628;
  --secondary-color: #d0c6eb; /*baa6ef  darker option for readability?*/
  --accent-color: #FFFDD0;
  --background-color: #fffdf3;
  --lighter-background-color: #fffdf7;
  --text-color: #333333;

  --cream: #fffdd0; /*cream*/
  --light-cream: #fff7ea; /*light-cream*/
  --purple: #baa6ef;
  --soft-purple: #d0c6eb; /*soft purple*/
  --cream-purple: #ece3f8; /*cream-purple*/
  --soft-pink: #febdb9; /*soft-pink*/
  --cream-pink: #fedfda; /*cream-pink*/
  --soft-green: #3f7661; /*soft-green*/
  --green: #1f4b3c; /*green*/
  --dark-green: #0c3628; /*dark-green*/
}

body {
  margin: 0;
  background-color: var(--lighter-background-color);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
